@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body,.jumbotron,.jumbotron.fluid {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:white;
  background-color:black;
  margin-left:10%;
  margin-right:10%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  margin-top:2%;
}

.headingpadding{
  padding-top:5%;


}

.bottompad{
  padding-top:5%;
}
ul{
  margin-left:-5%;
}

tr{
  color:white;
  margin-top: 1vh;
  margin-bottom: 1.5vh;
}

table{
  margin-top:4vh;
}

a {
  color:tomato;
}

a:hover{
  color:white;
}


.form-control-plaintext{
  background-color:white;
  color:black;
  width: 35vw;
}