@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
body,.jumbotron,.jumbotron.fluid {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:white;
  background-color:black;
  margin-left:10%;
  margin-right:10%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  margin-top:2%;
}

.headingpadding{
  padding-top:5%;


}

.bottompad{
  padding-top:5%;
}
ul{
  margin-left:-5%;
}